## EDA
### Siniestros viales en Ciudad de Buenos Aires -Argentina

Librerias

In [318]:
import pandas as pd

DataFrame 'HECHOS'

In [319]:
df1 = pd.read_excel('Datasets/homicidios.xlsx')
df1.to_csv('Datasets/homicidios.csv')
df_hechos = pd.read_csv('Datasets/homicidios.csv')
df_hechos.head(1)

,Unnamed: 0,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO

In [320]:
df_hechos['N_VICTIMAS'].value_counts()

N_VICTIMAS
1    676
2     19
3      1
Name: count, dtype: int64

DataFrame 'VICTIMAS'

In [321]:
df2 = pd.read_excel('Datasets/homicidios.xlsx', sheet_name= 'VICTIMAS')
df2.to_csv('Datasets/homicidios.csv')
df_victimas = pd.read_csv('Datasets/homicidios.csv')

df_victimas.head(1)

,Unnamed: 0,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00

Se realiza un merge de ambos Datasets para tener centralizada la informacion

In [322]:
df = pd.merge(df_hechos, df_victimas, left_on='ID', right_on='ID_hecho')
df = pd.merge(df_hechos, df_victimas, left_on='ID', right_on='ID_hecho', how='inner')
df.set_index('ID', inplace=True)
#df = df.drop('ID_hecho', axis=1)

In [323]:
df.head(2)

,Unnamed: 0_x,N_VICTIMAS,FECHA_x,AAAA_x,MM_x,DD_x,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA_x,ACUSADO,Unnamed: 0_y,ID_hecho,FECHA_y,AAAA_y,MM_y,DD_y,ROL,VICTIMA_y,SEXO,EDAD,FECHA_FALLECIMIENTO
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2016-0001,0,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
2016-0002,1,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00

Se revisan los valores nulos

In [324]:
df.isna().sum()

Unnamed: 0_x               0
N_VICTIMAS                 0
FECHA_x                    0
AAAA_x                     0
MM_x                       0
DD_x                       0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   584
Cruce                    177
Dirección Normalizada      9
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA_x                  0
ACUSADO                    0
Unnamed: 0_y               0
ID_hecho                   0
FECHA_y                    0
AAAA_y                     0
MM_y                       0
DD_y                       0
ROL                        0
VICTIMA_y                  0
SEXO                       0
EDAD                       0
FECHA_FALLECIMIENTO        0
dtype: int64

Se verifican si hay duplicados

In [325]:
df.duplicated().sum()

0

In [326]:
df.drop(columns=['Unnamed: 0_x', 'ID_hecho', 'Unnamed: 0_y','FECHA_y','HH', 'Dirección Normalizada', 'AAAA_y', 'MM_y', 'DD_y','VICTIMA_y', 'FECHA_FALLECIMIENTO'], inplace = True)

In [327]:
df.rename(columns={'FECHA_x':'FECHA', 'AAAA_x': 'AAAA', 'MM_x': 'MM', 'DD_x': 'DD', 'VICTIMA_x':'VICTIMA'})
df.head(2)

,N_VICTIMAS,FECHA_x,AAAA_x,MM_x,DD_x,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA_x,ACUSADO,ROL,SEXO,EDAD
ID,,,,,,,,,,,,,,,,,,,,,
2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,MASCULINO,19
2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70

Se eliminan columnas que no son necesarias

In [328]:
nombres_nuevos = {'N_VICTIMAS':'cant_victimas', 'FECHA_x':'fecha', 'AAAA_x':'año',
                  'MM_x':'mes', 'DD_x':'dia', 'HORA':'hora', 'LUGAR_DEL_HECHO':'lugar', 'TIPO_DE_CALLE':'tipo_de_calle',
                  'Calle':'calle', 'Altura':'altura', 'Cruce':'cruce','COMUNA':'comuna', 'XY (CABA)':'geocodificacion', 'pos x':'longitud',
                  'pos y':'latitud', 'PARTICIPANTES':'participantes', 'VICTIMA_x':'victima',
                  'ACUSADO':'acusado', 'ROL':'rol', 'SEXO':'sexo', 'EDAD':'edad'}
df = df.rename(columns=nombres_nuevos, index={'ID': 'id_hecho'
                                              })
pd.set_option('display.max_columns', None)
df.head(2)

,cant_victimas,fecha,año,mes,dia,hora,lugar,tipo_de_calle,calle,altura,cruce,comuna,geocodificacion,longitud,latitud,participantes,victima,acusado,rol,sexo,edad
ID,,,,,,,,,,,,,,,,,,,,,
2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO,CONDUCTOR,MASCULINO,19
2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70

In [329]:
df.shape

(717, 21)